/*************************************************************************
 * This css file is for your own style.
 *************************************************************************/
 
 <style>
    footer {
        position: relative;
        height: 300px;
        width: 100%;
        background-color: white;
    }
	
	.myHover{
      color: rgba(255, 255, 255, 0.8);
    }
    .myHover:hover
    {
      color: rgba(255, 255, 255);
    }

    p.copyright {
        position: relative;
        width: 100%;
        color: gray;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
    }
	
	body {
		font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
	  color: #FFFFFF;
	  background: #2a2a2a;
	}
	
	a:link {
	color: rgba(255, 255, 255, 0.8);
	}
	a:hover {
	color: rgba(255, 255, 255);
	}
	
</style>